# vim:ft=conf
# isyncrc
# @author nate zhou
# @since 2025

# 1. Allow `pop` in mail server/provider settings
#
# 2. Install an XOAUTH2 SASL plugin, e.g. `cyrus-sasl-xoauth2-git`
#
# 3. Create maildirs as they are defined by `Path`
#    e.g. `mkdir -p ~/doc/mail/account-{private,public,unixchad}`
#
# 4. Avoid cronjob because of gpg-agent ENV issues instead, calling
#    `~/.local/bin/mbs-cron` in an autostart script.
# >  But when the initial invoke of pinentry-tty isn't in tty, autostarting
# > `~/.local/bin/mbs-cron` results in all GPG commands that requires a
# > symmetric passphrase hanging up for minutes whenever the agent doesn't have
# > cached that key, because the non-GUI pinentry is still waiting for the
# > passphrase input, since it's called from a autostart script instead of
# > terminal there's no way for user to input the passphrase.
# > Setting pinentry mode to loopback with --decryption-pipe is a workaround.

## Account1
IMAPAccount account-private
Host outlook.office365.com
Port 993
User user@example.com
PassCmd "/usr/share/neomutt/oauth2/mutt_oauth2.py --decryption-pipe 'gpg --decrypt --pinentry-mode loopback' -t ~/.cache/mutt/oauth-account-private"
TLSType IMAPS
AuthMechs XOAUTH2

IMAPStore account-private-remote
Account account-private

MaildirStore account-private-local
Path ~/doc/mail/account-private/
Inbox ~/doc/mail/account-private/INBOX
SubFolders Verbatim

Channel account-private
Far :account-private-remote:
Near :account-private-local:
Patterns *
Expunge both
CopyArrivalDate yes
Sync All
Create Near
SyncState *


## Account2
IMAPAccount account-public
Host outlook.office365.com
Port 993
User user@example.com
PassCmd "/usr/share/neomutt/oauth2/mutt_oauth2.py --decryption-pipe 'gpg --decrypt --pinentry-mode loopback' -t ~/.cache/mutt/oauth-account-public"
TLSType IMAPS
AuthMechs XOAUTH2

IMAPStore account-public-remote
Account account-public

MaildirStore account-public-local
Path ~/doc/mail/account-public/
Inbox ~/doc/mail/account-public/INBOX
SubFolders Verbatim

Channel account-public
Far :account-public-remote:
Near :account-public-local:
Patterns *
Expunge both
CopyArrivalDate yes
Sync All
Create Near
SyncState *


## Account3
IMAPAccount account-unixchad
Host outlook.office365.com
Port 993
User gnuunixchad@outlook.com
PassCmd "/usr/share/neomutt/oauth2/mutt_oauth2.py --decryption-pipe 'gpg --decrypt --pinentry-mode loopback' -t ~/.cache/mutt/oauth-account-unixchad"
TLSType IMAPS
AuthMechs XOAUTH2

IMAPStore account-unixchad-remote
Account account-unixchad

MaildirStore account-unixchad-local
Path ~/doc/mail/account-unixchad/
Inbox ~/doc/mail/account-unixchad/INBOX
SubFolders Verbatim

Channel account-unixchad
Far :account-unixchad-remote:
Near :account-unixchad-local:
Patterns *
Expunge both
CopyArrivalDate yes
Sync All
Create Near
SyncState *
